<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat Project</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=keywords content="Ground sauce, Chatroom, node.js, react, socket.io, web chat application, front-end development">
    <meta name=description content="An interesting chat application power by socket.io, koa, mongodb and react">
    <meta name=author content=Groundsauce>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href=//cdn0.iconfinder.com/data/icons/ikooni-outline-free-basic/128/free-02-512.png>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="fiora">
    <link rel="apple-touch-icon" href="//cdn0.iconfinder.com/data/icons/ikooni-outline-free-basic/128/free-02-512.png">
    <meta name="msapplication-TileImage" content="//cdn0.iconfinder.com/data/icons/ikooni-outline-free-basic/128/free-02-512.png">
    <meta name="msapplication-TileColor" content="#333">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
